In [13]:
import pandas as pd

In [14]:
df1 = pd.read_csv('camada_prata/eyac2_clean.csv', delimiter = ',')

display(df1)

,Date,Datetime,Open,High,Low,Close,Volume
0,2010-01-04,2010-01-04 16:56:00,37.567621,37.937621,37.437621,37.937621,13303743.87
1,2010-01-05,2010-01-05 16:56:00,38.154220,38.204220,37.574220,37.774220,21396519.48
2,2010-01-06,2010-01-06 16:56:00,38.105357,38.805357,38.105357,38.805357,18720547.15
3,2010-01-07,2010-01-07 16:56:00,36.545929,36.725929,36.345929,36.425929,10964646.19
4,2010-01-08,2010-01-08 16:56:00,35.247787,35.477787,34.947787,35.037787,14624078.31
...,...,...,...,...,...,...,...
3647,2024-12-20,2024-12-20 16:56:00,39.155595,39.345595,38.705595,38.845595,59277431.74
3648,2024-12-23,2024-12-23 16:56:00,39.460157,39.510157,39.180157,39.320157,43785532.81
3649,2024-12-26,2024-12-26 16:56:00,37.727609,38.097609,37.697609,37.867609,22920777.53
3650,2024-12-27,2024-12-27 16:56:00,36.406818,36.406818,36.016818,36.066818,24167282.36
3651,2024-12-30,2024-12-30 16:56:00,36.204223,36.794223,36.194223,36.614223,22355586.67

In [15]:
df2 = pd.read_csv('camada_prata/Crude_Oil_clean.csv', delimiter = ',')

display(df2)

            Date  Price   Open   High    Low  Volume Change %
0     2024-12-31  71.25  70.69  71.52  70.43   63.63    1.02%
1     2024-12-30  70.53  70.00  71.05  69.75   93.10    0.50%
2     2024-12-27  70.18  69.27  70.32  69.06   79.13    1.37%
3     2024-12-26  69.23  69.72  70.25  68.94   69.64   -0.59%
4     2024-12-24  69.64  69.04  69.94  68.95   40.39    1.21%
...          ...    ...    ...    ...    ...     ...      ...
3902  2010-01-08  82.75  82.65  83.47  81.80  310.38    0.11%
3903  2010-01-07  82.66  83.20  83.36  82.26  246.63   -0.63%
3904  2010-01-06  83.18  81.43  83.52  80.85  370.06    1.72%
3905  2010-01-05  81.77  81.63  82.00  80.95  258.89    0.32%
3906  2010-01-04  81.51  79.63  81.79  79.63  263.54    2.71%

[3907 rows x 7 columns]

In [16]:
df3 = pd.read_excel('camada_prata/ibovespa_clean.xlsx')

display(df3)

            Date  Dia       MÃªs   Ano      Valor
0     2010-02-01    1  February  2010   66571.74
1     2010-03-01    1     March  2010   67227.93
2     2010-04-01    1     April  2010   71136.34
3     2010-06-01    1      June  2010   61840.99
4     2010-07-01    1      July  2010   61236.20
...          ...  ...       ...   ...        ...
3712  2024-12-30   30  December  2024  120283.40
3713  2024-01-31   31   January  2024  127752.28
3714  2024-05-31   31       May  2024  122098.09
3715  2024-07-31   31      July  2024  127651.81
3716  2024-10-31   31   October  2024  129713.33

[3717 rows x 5 columns]

In [17]:
df_merge1 = df1.merge(df2, left_on= "Date", right_on= "Date", suffixes= ("_EYAC2", "_Petro"))

display(df_merge1)

,Date,Datetime,Open_EYAC2,High_EYAC2,Low_EYAC2,Close,Volume_EYAC2,Price,Open_Petro,High_Petro,Low_Petro,Volume_Petro,Change %
0,2010-01-04,2010-01-04 16:56:00,37.567621,37.937621,37.437621,37.937621,13303743.87,81.51,79.63,81.79,79.63,263.54,2.71%
1,2010-01-05,2010-01-05 16:56:00,38.154220,38.204220,37.574220,37.774220,21396519.48,81.77,81.63,82.00,80.95,258.89,0.32%
2,2010-01-06,2010-01-06 16:56:00,38.105357,38.805357,38.105357,38.805357,18720547.15,83.18,81.43,83.52,80.85,370.06,1.72%
3,2010-01-07,2010-01-07 16:56:00,36.545929,36.725929,36.345929,36.425929,10964646.19,82.66,83.20,83.36,82.26,246.63,-0.63%
4,2010-01-08,2010-01-08 16:56:00,35.247787,35.477787,34.947787,35.037787,14624078.31,82.75,82.65,83.47,81.80,310.38,0.11%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627,2024-12-20,2024-12-20 16:56:00,39.155595,39.345595,38.705595,38.845595,59277431.74,69.02,68.83,69.38,68.05,114.62,-0.52%
3628,2024-12-23,2024-12-23 16:56:00,39.460157,39.510157,39.180157,39.320157,43785532.81,68.81,68.97,69.50,68.22,90.95,-0.30%
3629,2024-12-26,2024-12-26 16:56:00,37.727609,38.097609,37.697609,37.867609,22920777.53,69.23,69.72,70.25,68.94,69.64,-0.59%
3630,2024-12-27,2024-12-27 16:56:00,36.406818,36.406818,36.016818,36.066818,24167282.36,70.18,69.27,70.32,69.06,79.13,1.37%
3631,2024-12-30,2024-12-30 16:56:00,36.204223,36.794223,36.194223,36.614223,22355586.67,70.53,70.00,71.05,69.75,93.10,0.50%

In [18]:
df_merge2 = df_merge1.merge(df3, left_on= "Date", right_on= "Date", suffixes= ("","_Ibovespa"))

df_merge2.head()

,Date,Datetime,Open_EYAC2,High_EYAC2,Low_EYAC2,Close,Volume_EYAC2,Price,Open_Petro,High_Petro,Low_Petro,Volume_Petro,Change %,Dia,MÃªs,Ano,Valor
0,2010-01-04,2010-01-04 16:56:00,37.567621,37.937621,37.437621,37.937621,13303743.87,81.51,79.63,81.79,79.63,263.54,2.71%,4,January,2010,70045.08
1,2010-01-05,2010-01-05 16:56:00,38.154220,38.204220,37.574220,37.774220,21396519.48,81.77,81.63,82.00,80.95,258.89,0.32%,5,January,2010,70239.82
2,2010-01-06,2010-01-06 16:56:00,38.105357,38.805357,38.105357,38.805357,18720547.15,83.18,81.43,83.52,80.85,370.06,1.72%,6,January,2010,70729.34
3,2010-01-07,2010-01-07 16:56:00,36.545929,36.725929,36.345929,36.425929,10964646.19,82.66,83.20,83.36,82.26,246.63,-0.63%,7,January,2010,70451.12
4,2010-01-08,2010-01-08 16:56:00,35.247787,35.477787,34.947787,35.037787,14624078.31,82.75,82.65,83.47,81.80,310.38,0.11%,8,January,2010,70262.70

In [19]:
df_merge2 = df_merge2.rename(columns={"Close":"Close_EYAC2","Price":"Price_Petro",
                              "Dia":"Day_Ibovespa","Change %":"Change%_EYAC2",
                              "MÃªs":"Month_Ibovespa", "Ano":"Year_Ibovespa", "Valor":"Value_Ibovespa"})

df_merge2.head()

,Date,Datetime,Open_EYAC2,High_EYAC2,Low_EYAC2,Close_EYAC2,Volume_EYAC2,Price_Petro,Open_Petro,High_Petro,Low_Petro,Volume_Petro,Change%_EYAC2,Day_Ibovespa,Month_Ibovespa,Year_Ibovespa,Value_Ibovespa
0,2010-01-04,2010-01-04 16:56:00,37.567621,37.937621,37.437621,37.937621,13303743.87,81.51,79.63,81.79,79.63,263.54,2.71%,4,January,2010,70045.08
1,2010-01-05,2010-01-05 16:56:00,38.154220,38.204220,37.574220,37.774220,21396519.48,81.77,81.63,82.00,80.95,258.89,0.32%,5,January,2010,70239.82
2,2010-01-06,2010-01-06 16:56:00,38.105357,38.805357,38.105357,38.805357,18720547.15,83.18,81.43,83.52,80.85,370.06,1.72%,6,January,2010,70729.34
3,2010-01-07,2010-01-07 16:56:00,36.545929,36.725929,36.345929,36.425929,10964646.19,82.66,83.20,83.36,82.26,246.63,-0.63%,7,January,2010,70451.12
4,2010-01-08,2010-01-08 16:56:00,35.247787,35.477787,34.947787,35.037787,14624078.31,82.75,82.65,83.47,81.80,310.38,0.11%,8,January,2010,70262.70

In [20]:
colunas =['Open_EYAC2', 'High_EYAC2', 'Low_EYAC2',
       'Close_EYAC2', 'Volume_EYAC2', 'Price_Petro', 'Open_Petro',
       'High_Petro', 'Low_Petro', 'Volume_Petro', 'Change%_EYAC2','Value_Ibovespa']

df_merge2[colunas] = df_merge2[colunas].astype("str")

In [21]:
df_merge2[colunas] = df_merge2[colunas].map(lambda x: x.replace(".",","))

display(df_merge2)

,Date,Datetime,Open_EYAC2,High_EYAC2,Low_EYAC2,Close_EYAC2,Volume_EYAC2,Price_Petro,Open_Petro,High_Petro,Low_Petro,Volume_Petro,Change%_EYAC2,Day_Ibovespa,Month_Ibovespa,Year_Ibovespa,Value_Ibovespa
0,2010-01-04,2010-01-04 16:56:00,"37,56762146","37,93762146","37,43762146","37,93762146","13303743,87","81,51","79,63","81,79","79,63","263,54","2,71%",4,January,2010,"70045,08"
1,2010-01-05,2010-01-05 16:56:00,"38,15421972","38,20421972","37,57421972","37,77421972","21396519,48","81,77","81,63","82,0","80,95","258,89","0,32%",5,January,2010,"70239,82"
2,2010-01-06,2010-01-06 16:56:00,"38,10535714","38,80535714","38,10535714","38,80535714","18720547,15","83,18","81,43","83,52","80,85","370,06","1,72%",6,January,2010,"70729,34"
3,2010-01-07,2010-01-07 16:56:00,"36,54592902","36,72592902","36,34592902","36,42592902","10964646,19","82,66","83,2","83,36","82,26","246,63","-0,63%",7,January,2010,"70451,12"
4,2010-01-08,2010-01-08 16:56:00,"35,24778748","35,47778748","34,94778748","35,03778748","14624078,31","82,75","82,65","83,47","81,8","310,38","0,11%",8,January,2010,"70262,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3626,2024-12-20,2024-12-20 16:56:00,"39,15559512","39,34559512","38,70559512","38,84559512","59277431,74","69,02","68,83","69,38","68,05","114,62","-0,52%",20,December,2024,"122102,15"
3627,2024-12-23,2024-12-23 16:56:00,"39,46015699","39,51015699","39,18015699","39,32015699","43785532,81","68,81","68,97","69,5","68,22","90,95","-0,30%",23,December,2024,"120766,57"
3628,2024-12-26,2024-12-26 16:56:00,"37,72760865","38,09760865","37,69760865","37,86760865","22920777,53","69,23","69,72","70,25","68,94","69,64","-0,59%",26,December,2024,"121077,5"
3629,2024-12-27,2024-12-27 16:56:00,"36,4068181","36,4068181","36,0168181","36,0668181","24167282,36","70,18","69,27","70,32","69,06","79,13","1,37%",27,December,2024,"120269,31"
3630,2024-12-30,2024-12-30 16:56:00,"36,20422281","36,79422281","36,19422281","36,61422281","22355586,67","70,53","70,0","71,05","69,75","93,1","0,50%",30,December,2024,"120283,4"

In [22]:
df_merge2.to_csv('camada_ouro/Join_dataframes_v2.csv')

In [23]:
df_merge2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3631 entries, 0 to 3630
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            3631 non-null   object
 1   Datetime        3631 non-null   object
 2   Open_EYAC2      3631 non-null   object
 3   High_EYAC2      3631 non-null   object
 4   Low_EYAC2       3631 non-null   object
 5   Close_EYAC2     3631 non-null   object
 6   Volume_EYAC2    3631 non-null   object
 7   Price_Petro     3631 non-null   object
 8   Open_Petro      3631 non-null   object
 9   High_Petro      3631 non-null   object
 10  Low_Petro       3631 non-null   object
 11  Volume_Petro    3631 non-null   object
 12  Change%_EYAC2   3631 non-null   object
 13  Day_Ibovespa    3631 non-null   int64
 14  Month_Ibovespa  3631 non-null   object
 15  Year_Ibovespa   3631 non-null   int64
 16  Value_Ibovespa  3631 non-null   object
dtypes: int64(2), object(15)
memory usage: 482.4+ KB